@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@mixin number {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  p {
    margin: 12px;
    font-weight: bold;
    display: inline-block;
  }
}
$color: #1374f8;

//COMMON
html {
  font-family: "Nanum Gothic", sans-serif;
}

.inner {
  max-width: 1180px;
  margin: 0 auto;
  position: relative;
}
a {
  color: black;
  text-decoration: none;
  &:hover {
    color: $color;
  }
}
li {
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: $color;
  }
}
.search-button {
  width: 170px;
  height: 72px;
  box-shadow: rgba(6, 68, 192, 0.82) 0px 15px 30px -14px;
  background-color: $color;
  position: fixed;
  right: 110px;
  bottom: 30px;
  z-index: 8;
  border-width: 0px;
  border-radius: 36px;
  span {
    margin-left: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2px;
    position: relative;
    bottom: 2px;
  }
}

// NAVIGATION
.section--nav-bar {
  border-bottom: 1px solid #ebebeb;
  .inner {
    max-width: none;
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-menu {
      display: flex;
      align-content: center;
      svg {
        margin-right: 20px;
      }
      .menu-toggle {
        display: none;
      }
      .site-menu {
        display: flex;
        align-items: center;
        a {
          font-size: 13px;
          color: #8b8b8b;
          padding: 0px;
        }
        div {
          display: inline-block;
          width: 1px;
          height: 15px;
          vertical-align: middle;
          background: rgb(221, 221, 221);
          margin: 0px 12px;
        }
      }
    }
    .right-menu {
      display: flex;
      align-items: center;
      padding: 30px 0;
      .util-list {
        display: flex;
        font-size: 16px;
        align-items: center;
        list-style: padding;
        li {
          padding: 5px 0;
          margin-left: 30px;
        }
      }
      span {
        font-size: 7px;
      }
      .sign-list {
        display: flex;
        align-items: center;
        font-size: 13px;
        margin-left: 50px;
        padding: 5px 0;
        color: rgb(156, 156, 156);
        span {
          margin: 0 5px;
        }
      }
    }
  }
}

//MAIN
.section--main {
  width: 100%;
  min-width: 1366px;
  padding-top: 115px;
  padding-bottom: 20px;
  .title {
    text-align: center;
    line-height: 1.3;
    h1 {
      color: rgb(54, 54, 54);
      font-size: 46px;
      span {
        color: $color;
      }
    }
  }
  #search-form {
    width: 800px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(208, 210, 214);
    border-image: initial;
    margin: 0px auto;
    margin-top: 30px;
    svg {
      position: absolute;
      top: 20px;
      left: 20px;
    }
    input {
      display: inline-block;
      width: 480px;
      height: 30px;
      font-size: 20px;
      margin: 14px 110px 14px 54px;
      padding: 0px 20px;
      border-width: 0px 0px 0px 1px;
      border-left: 1px solid rgb(221, 221, 221);
      outline: none;
    }
    button {
      background: #1374f8;
      color: #fff;
      outline: none;
      border: none;
      padding: 15px 25px;
      font-size: 19px;
      border-radius: 4px;
      position: absolute;
      top: 2px;
      right: 4px;
      cursor: pointer;
      &:hover {
        background: lighten(#1374f8, 10%);
      }
    }
  }
}

.section--room-search-solution {
  margin: 169px auto;
  padding-bottom: 80px;
  margin-bottom: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  .summary-solution {
    width: 100%;
    text-align: center;
    margin-top: 36px;
    .title-solution {
      display: block;
      font-size: 25px;
      margin: 10px auto;
      font-weight: bold;
    }
    .description-solution {
      font-size: 16px;
    }
  }
  .tiles {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 14px;

    .tile {
      border: 1px solid #e5e5e5;
      height: 172px;
      border-radius: 10px;
      line-height: 1.4;
      font-size: 15px;

      a {
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .tile-img {
        width: 100%;
        flex: 1;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-size: cover;
        text-indent: -9999px;
        .tile-summary {
          font-size: 15px;
        }
      }
      .tile-img-1 {
        background-image: url("https://www.dabangapp.com/static/media/easy_4.d1dd22a5.png");
      }
      .tile-img-2 {
        background-image: url("https://www.dabangapp.com/static/media/easy_5.a6042ff7.png");
      }
      .tile-img-3 {
        background-image: url("https://www.dabangapp.com/static/media/easy_6.966df187.png");
      }
      .tile-img-4 {
        background-image: url("https://www.dabangapp.com/static/media/easy_7.603ba420.png");
      }
      .tile-img-5 {
        background-image: url("https://www.dabangapp.com/static/media/easy_8.afb21d4c.png");
      }
      .tile-img-6 {
        background-image: url("https://www.dabangapp.com/static/media/easy_9.e5873e16.png");
      }
      .tile-summary {
        padding: 14px;
      }
    }
  }

  .tile-number {
    @include number;
  }
}

.section--recent-room {
  .inner {
    margin-top: 69px;
    .summary {
      .summary-positioner {
        display: flex;
        font-size: 28px;
        align-items: center;
        span {
          padding-right: 16px;
          border-right: 1px solid #e5e5e5;
        }
        p {
          padding-left: 16px;
          color: #c5c5c5c5;
        }
      }
      p {
        margin: 10px 0;
        color: #666666;
      }
    }
    .tiles-recent {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      margin: 30px auto;

      .recent-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 186px;
        border: 1.3px dotted #d6d6d6;
        color: #c5c5c5;
        font-size: 14px;
        & + a {
          .recent-item {
            text-align: center;
            border: 1px solid $color;
            color: $color;
            display: flex;
            flex-direction: column;
            button {
              margin: 10px;
              background: $color;
              outline: none;
              border: none;
              width: 35px;
              height: 35px;
              color: white;
              font-size: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.section--information {
  background: rgb(46, 89, 166);
  height: 690px;
  margin-top: 100px;
  .inner {
    height: 100%;
    padding: 100px 0;
    .container {
      span {
        font-size: 28px;
        color: white;
      }
      .more-apt {
        font-size: 15px;
        color: #ebebeb;
        position: absolute;
        top: 100px;
        right: 0;
      }
      ul {
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        li {
          background: #fff;
          height: 410px;
          .apt-img {
            content: "";
            display: block;
            width: 100%;
            height: 300px;
            background: url(https://d2o59jgeq8ig2.cloudfront.net/complex/1024/09ab36f9-ee5a-4e90-9705-e7b5d2975c53)
              center center / cover no-repeat rgb(239, 240, 242);
            height: 300px;
            position: relative;
            content: "";
            display: block;
            width: 100%;
            height: 300px;

            .img-top {
              margin-left: 30px;
              background: rgba(0, 0, 0, 0.342);
              color: white;
              font-size: 14px;
              display: inline-block;
              .top-left {
                display: inline-block;

                padding: 10px 15px;
                background: rgb(230, 76, 76);
                margin: 0 15px 0 0;
              }
              span {
                display: inline-block;
                font-size: 14px;
                padding-right: 15px;
              }
            }
            .img-bottom {
              display: flex;
              color: white;
              width: 90%;
              margin: 0 auto;
              position: absolute;
              bottom: 20px;
              left: 30px;
              text-shadow: 0 0 20px rgb(0, 0, 0);
              .bottom-title {
                flex: 1;
                font-size: 26px;
              }
              .bottom-price {
                span {
                  font-size: 15px;
                }
                font-size: 25px;
              }
            }
          }
          .apt-info {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .info-item {
              margin-top: 20px;
              padding: 10px;
              border-right: 1px solid #c5c5c5;
              p {
                font-size: 14px;
                color: rgb(97, 97, 97);
                padding: 5px;
              }
              span {
                padding: 5px;
                font-size: 14px;
                color: rgb(0, 0, 0);
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .tile-number {
      @include number;
      color: white;
    }
  }
}

.section--guide {
  .inner {
    padding: 110px 0;
    span {
      font-size: 28px;
      margin-bottom: 20px;
      display: block;
    }
    .guide-tiles {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
      .guide-item {
        position: relative;
        background: #ebebeb;
        color: $color;
        padding: 30px 15px 30px 30px;
        border-top: 3px solid $color;
        border-radius: 3px;
        height: 330px;
        box-sizing: border-box;
        h5 {
          font-size: 14px;
          display: inline-block;
          padding-bottom: 10px;
          border-bottom: 1px solid $color;
        }
        p {
          margin-top: 25px;
          font-size: 20px;
          line-height: 1.5;
        }
        svg {
          position: absolute;
          bottom: 30px;
          left: 30px;
        }
      }
      .item2 {
        color: #8b8b8b;

        border-top: 3px solid #8b8b8b;
        h5 {
          border-bottom: 1px solid #8b8b8b;
        }
      }
    }
  }
}

.section--banner .banner-img {
  height: 100px;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/dabang-prod-manage-image/event/30c5ecd9-9748-48f6-bad6-f9cb0c4a6acf");
  background-position: center;
  background-size: cover;
}

footer {
  .inner {
    padding: 25px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    .footer-item {
      h5 {
        font-size: 16px;
        margin: 20px 0;
      }
      a,
      p {
        color: #8b8b8b;
        padding: 5px 0;
        font-size: 15px;
        &:hover {
          color: black;
        }
      }
    }
  }
}
