@media (max-width: 1024px) {
  $color: #1374f8;
  .search-button {
    display: none;
  }
  html,
  section {
    width: 100%;
  }
  .inner {
    max-width: none;
  }
  .section--nav-bar {
    background: white;
    position: fixed;
    z-index: 10;
    border-bottom: none;
    .inner {
      flex-direction: column;
      .left-menu {
        flex-direction: column;
        .logo {
          margin: 0 auto;
          padding: 10px;
        }
        .menu-toggle {
          display: inline-block;
          position: absolute;
          top: 9px;
          right: -20px;
          font-size: 30px;
          color: $color;
        }
        svg {
          margin-right: 0;
        }
        .site-menu {
          justify-content: center;
        }
        .toggle {
          display: none;
        }
      }

      .right-menu {
        // display: none;
        flex-direction: column;
        .util-list {
          flex-direction: column;
          li {
            margin-left: 0;
            margin-bottom: 10px;
          }
        }
        .sign-list {
          margin-left: 0;
          padding: 10px 0;
        }
      }
      .toggle {
        display: none;
      }
    }
  }

  .section--main {
    min-width: auto;
    padding: 260px 0;
    margin: 0 0 0;
    .title {
      h1 {
        font-size: 30px;
      }
    }
    #search-form {
      width: 90%;
      height: 40px;
      display: flex;
      align-items: center;
      svg {
        display: none;
      }
      input {
        width: 100%;
        font-size: 16px;
        height: 25px;
        margin: 10px auto;
        border-left: none;
      }
      button {
        margin: 1px;
        padding: 8px;
        font-size: 16px;
        top: 1px;
        right: 1px;
      }
    }
  }

  .section--room-search-solution {
    margin: 100px auto;
    .summary-solution {
      .title-solution {
        font-size: 20px;
      }
      .description-solution {
        font-size: 14px;
      }
    }
    .tiles {
      margin: 30px 10px 0 10px;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .tile {
        &:hover {
          background: rgb(204, 204, 204);
        }
      }
    }
  }

  .section--recent-room {
    .inner {
      margin: 40px 10px;
      .summary {
        .summary-positioner {
          font-size: 20px;
          align-items: center;
          span {
            padding-right: 10px;
            border-right: 1px solid #e5e5e5;
          }
          p {
            padding-left: 10px;
            color: #c5c5c5c5;
          }
        }
        p {
          margin: 10px 0;
          color: #666666;
        }
      }
      .tiles-recent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
      }
    }
  }
  .section--information {
    .inner {
      margin: auto 20px;
      .container {
        ul {
          grid-template-columns: repeat(1, 1fr);
          li {
            &:nth-child(2) {
              display: none;
            }
            .apt-info {
              .info-item {
                text-align: center;
                padding: 2px;
                p {
                  font-size: 10px;
                  margin: 5px 0;
                  padding: 3px;
                }
                span {
                  padding: 3px;
                  font-size: 13px;
                  color: rgb(0, 0, 0);
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
  .section--guide {
    .inner {
      margin: auto 10px;
      padding-bottom: 10px;

      .guide-tiles {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        .guide-item {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 10px 10px;
          h5 {
            font-size: 13px;
            padding-bottom: 0px;
            border-bottom: none;
            margin-right: 15px;
          }
          p {
            margin-top: 0;
            font-size: 13px;
            flex: 1;
          }
          svg {
            position: static;
          }
        }
      }
    }
  }
  .section--banner .banner-img {
    background-size: 1cover;
    background-repeat: no-repeat;
  }
  footer {
    .inner {
      padding: 10px 10px;
      display: flex;
      flex-direction: column;
      .footer-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        h5 {
          font-size: 14px;
          margin: 10px 0;
          margin-top: 5px;
          padding-top: 5px;
          grid-column: 1/3;
          font-weight: bold;
          border-top: 0.5px solid #e5e5e5;
        }
        a,
        p {
          color: #8b8b8b;

          font-size: 13px;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}
